[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = git@github.com:MunifTanjim/minimo.git
