@charset "UTF-8";
/* @import "normalize"; */
/* @import "compass"; */
/* rem (root em) を使用して文字のサイズを設定 */
/* 行取りに使う行の高さ */
/* 背景と文字のコントラストを調整 */
/* 色のテーマ */
/* line 24, site.css.scss */
html {
  font-size: 1em; }

/* line 28, site.css.scss */
body {
  color: #404040;
  background-color: #f7f7f7;
  font-size: 1rem;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 36, site.css.scss */
p {
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
  text-indent: 1rem;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem; }

/* line 46, site.css.scss */
b {
  color: #004d00;
  font-weight: normal; }

/* line 59, site.css.scss */
h3 {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

/* line 63, site.css.scss */
h2 {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-left: 0.4rem solid #8080ff;
  padding-left: 0.6rem; }

/* line 71, site.css.scss */
h1 {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  font-size: 2rem;
  border-bottom: 0.25rem solid #8080ff;
  margin-bottom: 0.75rem;
  padding-left: 1rem; }

/* line 80, site.css.scss */
header {
  height: 5rem; }

/* nav{
   width: 20%;
   float: left;
   }

   article{
   width: 40rem;
   float: left;
   }

   footer{
   clear: both;
   } */
/* line 98, site.css.scss */
img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
   a {
   border: 1px solid white;
   border-radius: 3px;
   padding: 0.75em 0.7em;
   color: white;
   text-decoration: none;
   transition: color 0.1s linear;
   &:hover {
   background: rgba(0,0,0,0.2);
   color: white;
   transition: all 0.15s linear;
   }
   }
   }

   .welcome {
   -webkit-animation-name: welcome;
   -webkit-animation-duration: .9s;
   }

   @-webkit-keyframes welcome {
   from {
   -webkit-transform: scale(0);
   opacity: 0;
   }
   50% {
   -webkit-transform: scale(0);
   opacity: 0;
   }
   82.5% {
   -webkit-transform: scale(1.03);
   -webkit-animation-timing-function: ease-out;
   opacity: 1;
   }
   to {
   -webkit-transform: scale(1);
   }
   }
*/
